// Colors
$primary: #6610f2;
$warn: #dc3545;
$dark: #212529;
$light: #f8f9fa;
$black: #000000;
$white: #ffffff;
$border-color: #e9ecef;
$gray: #ced4da;
$muted: #6c757d;

// Breakpoints
$sm: 576px;
$lg: 992px;
$xl: 1200px;

// Fonts
$font-family: "Nunito", sans-serif;
$font-size: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$font-weight: 400;
$font-weight-bold: 700;

// Layouts
$gutter-x: 2rem;
$sidebar-width: 240px;
